:root {
	--clr-900: #22223b;
	--clr-800: #4a4e69;
	--clr-700: #9a8c98;
	--clr-400: #f2e9e4;

	--fw-400: 400;
	--fw-700: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	background-color: var(--clr-900);
	color: var(--clr-400);
	padding: 2rem 0;
}
.flex {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}
.wrap {
	flex-wrap: wrap;
}
.grid {
	display: grid;
	width: 100%;
}
.main-container {
	width: 90%;
	max-width: 1200px;
	display: grid;
	gap: 2rem;
	transition: 0.3s;
}
.container {
	width: 100%;
	background-color: var(--clr-800);
	border-radius: 10px;
	padding: 2rem;
	gap: 2rem;
	transition: 0.3s;
}
.input-container,
.output-container {
	gap: 1rem;
}
.input-container,
.output-container {
	width: 100%;
}
.input-container .flex,
.output-container .flex {
	justify-content: space-between;
}
.title {
	font-size: 2rem;
	font-weight: var(--fw-700);
	text-align: center;
}
.inputs {
	width: 100%;
	outline: none;
	font-size: 1rem;
	padding: 1rem 1.5rem;
	border-radius: 5px;
	background-color: var(--clr-700);
	border: 2px solid #22223b;
	color: var(--clr-900);
	transition: 0.2s;
}
.inputs:focus {
	border: 2px solid #9a8c98;
}
::placeholder {
	color: #05050593;
}
.labels {
	font-size: 1rem;
}
.output-container .flex {
	background-color: var(--clr-900);
	border-radius: 5px;
	overflow: hidden;
	flex-direction: column;
	padding-bottom: 0.5rem;
	text-align: center;
}
.output {
	font-size: 1.5rem;
	padding: 0.5rem 1.5rem;
	height: 100%;
	width: 100%;
	color: var(--clr-400);
	font-weight: var(--fw-700);
	order: 1;
}
.output-container .labels {
	order: 2;
}
#profit {
	color: #00ff0d;
}
#loss {
	color: #ff0000;
}
#created {
	text-align: center;
}
#created a {
	font-size: 1.2rem;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
}
#created a:hover {
	text-decoration: underline;
}
@media (min-width: 769px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
	.flex {
		gap: 1rem;
	}
	.wrap {
		flex-wrap: nowrap;
	}
	.output-container .flex {
		flex-direction: row;
		padding: 0 0 0 1rem;
	}
	.output-container .output {
		order: 2;
		width: auto;
	}
	.output-container .lables {
		order: 1;
	}
}
